
.language_box {
    margin-right: 10px;
    margin-top: 11px;

}

.language {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 7px;
    text-align: right;
    background-color: #252525;
    color: #a8a8a8;
    border-radius: 4px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.language .languageImg {
    vertical-align: middle;
    width: 21px;
    margin-right: 5px;
    height: 14px;
}

/*
.language:hover {
    color: #fff;
}
*/

.language_box .language .switchOpen {
    width: 10px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    height: 7px;
    background: url("/cloud/main/images/icon-open.png") no-repeat;
    /*  background-color: silver;*/
}

.language_box .languageList {
    /*  margin-top: -28px;*/
    display: none;
}

.language_box .languageList ul {
    margin: 0;
    padding: 3px 6px 2px 6px;
    list-style: none;
    position: relative;
    width: auto;
    background-color: #32363F;
    border: 1px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    box-shadow: 0 1px 3px #161718;
    -moz-box-shadow: 0 1px 3px #161718;
    -webkit-box-shadow: 0 1px 3px #161718;
}

.language_box .languageList ul li {
    line-height: 20px;
    height: 20px;
    position: relative;
    padding-right: 6px;
    padding-left: 35px;
    cursor: pointer;
}

.language_box .languageList ul li .languageListImg {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 21px;
    height: 14px;
}

.language_box .languageList ul li .switchClose {
    width: 10px;
    display: inline-block;
    height: 7px;
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
    background: url("/cloud/main/images/icon-close.png") no-repeat;
}

.language_box .languageList ul li:hover {
    color: #a8a8a8;
}

/*.language_box .languageList ul li:first-child {
    color: #a8a8a8 !important;
}*/

/*国际化*/
#content {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    border: none;
    background: url('/cloud/member/images/login/bgImg.jpg') center no-repeat;
}

/**悬浮二维码start**/
.erweima_box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    width: 130px;
    height: 400px;
}

.erweima_box h3 {
    font-weight: 400;
}

.erweima_1, .erweima_2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.erweima_1 img, .erweima_2 img {
    width: 110px;
    height: 110px;
}

.erweima_box .delete {
    width: 13px;
    padding: 3px;
    height: 13px;
    position: absolute;
    right: 0;
    bottom: -20px;
    cursor: pointer;
    background-color: #e3e4e5;
    z-index: 99;
}

/*
.erweima_box .delete:hover {
    background-color: #bfc0c1;
}*/

.erweima_box .delete .delete_img {
    width: 13px;
    height: 13px;
    display: block;
    z-index: 9999;
    background: url("../images/delete.gif") no-repeat;
}

/*悬浮二维码end*/
/*轮播框-star*/
#content .bannerBox,.bannerBox-1 .bg_op3 {
    position: absolute;
    top: 30px;
    left: -600px;
    overflow: hidden;
    /*    background: url('/cloud/member/images/login/banner_0_Tips_Bg.png');*/
    z-index: 9999;
    width: 462px;
    height: 370px;
}

#content .bg_op3 {
    display: none;
    border-radius: 6px;
    padding: 10px;
}

.scroll ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 370px;
}

.scroll li {
    float: left;
    width: 462px;
    height: 370px;
}

.prev, .next {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 184px;
    background: url("/cloud/member/images/login/pro_btn.jpg");
}

.prev {
    left: -2px;
    background-position: 0 0;
}

.next {
    background-position: -46px 0;
    right: -2px;

}

#content .bannerBox .bannerBox-1 .Tips .TipsBox {
    width: 402px;
    height: 295px;
    margin: 0 30px;
    padding-top: 45px;

}

#content .bannerBox .bannerBox-1 .Tips h2 {
}

#content .bannerBox .bannerBox-1 .Tips h4 {
    margin-top: 20px;
}

#content .bannerBox .bannerBox-1 .Tips h4 a:hover {
    color: dodgerblue;
}

/*轮播框-end*/
.OcxDown {
    display: none;
    padding: 10px 0;
    width: 100%;
    height: 25px;
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 12px !important;
}

.OcxDown .btn {
    color: #fff;
    margin-top: 0;
    margin-right: 10px;
    padding: 0 15px;
    height: 25px;
    font-size: 12px !important;
}

.OcxDown .errorMessage {
    color: #ff0000;
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
}

.guide {
    width: 100%;
    text-align: left;
    color: #444;
    height: 40px;
    line-height: 40px;
}

.guide a {
    width: 100%;
    color: #666;
}

.guide a:hover {
    color: #4092da
}

.login_href {
    text-align: center;
    width: 360px;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: 5px;

}

input[type="text"], input[type="password"] {
    border: 1px solid #b3b3b3;
    height: 30px;
    width: 98%;
    font-size: 14px;
    color: #908f94;
    line-height: 30px;
}

#content .main {
    display: inherit;
}

#content .main table {
    display: block
}

#content .main .iconShadow {
    position: absolute;
    background: url('/cloud/member/images/login/shadowQuadrangle.png') center no-repeat;
}

#content .shadow_L_T {
    left: -12px;
    top: -12px;
    width: 12px !important;
    height: 12px !important;
    background-position: 0 0 !important;
}

#content .shadow_C_T {

    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    height: 12px !important;
    background: url('/cloud/member/images/login/shadow_T.png') center repeat-x;
    /* background-repeat: repeat-x !important;*/
}

#content .shadow_R_T {
    right: -12px;
    top: -12px;
    width: 12px !important;
    height: 12px !important;
    background-position: -15px 0 !important;
}

#content .shadow_C_L {
    position: absolute;
    left: -12px;
    top: 0;
    width: 12px !important;
    height: 100%;
    background: url('/cloud/member/images/login/shadow_L.png') center repeat-y;
}

#content .shadow_C_R {
    position: absolute;
    right: -12px;
    top: 0;
    width: 12px !important;
    height: 100%;
    background: url('/cloud/member/images/login/shadow_R.png') center repeat-y;
}

#content .shadow_L_D {
    left: -12px;
    bottom: -12px;
    width: 12px !important;
    height: 12px !important;
    background-position: 0 -15px !important;
}

#content .shadow_C_D {
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 12px;
    background: url('/cloud/member/images/login/shadow_D.png') center repeat-x;
}

#content .shadow_R_D {
    right: -12px;
    bottom: -12px;
    width: 12px !important;
    height: 12px !important;
    background-position: -15px -15px !important;
}

#content .main .login_main {
    background-color: #fff;
    display: block;
    position: relative;
}

.login_main_top {
    display: block;
    height: 60px;
    /* padding-bottom: 1px;*/
    border-bottom: 2px solid #868686;
    /*   background-color: #d7d8da;*/

}

.login_main_top_1, .login_main_top_2 {
    text-align: center;
    color: #666;
    margin: 0 30px;
    padding: 10px;
    cursor: pointer;
    line-height: 40px;
    font-size: 22px !important;
    _line-height: 40px;
    font-family: 'Microsoft Yahei', simsun, arial;
    height: 40px;
    border-bottom: 2px solid #868686;
    /* background-color: gainsboro;*/

}

.letter-spacing_zh, .letter-spacing_zh_HANT {
    letter-spacing: 3px;
}

.login_main_top_1 {
    float: left;

}

.login_main_top_2 {
    float: right;

    /*  margin-left: 20px;*/
    /*    background-color: gainsboro;*/
}

.login_main_box1, .login_main_box2 {
    padding: 0 1em;
    padding-bottom: 2em;

}

.login_main_box1 {

}

.login_main_box2 {
    display: none;
}

.block {
    color: #4092da;
    border-bottom: 2px solid #4092da;
}

#content .register_box {
    height: 45px;
    width: 100%;
    background-color: #1e1e1e;
    line-height: 45px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#content .register_box:hover {
    background-color: #424242;
}

.login_table, .login_table tbody, .login_table tr {
    width: 100%;
    width: 100% !important;
}

.login_table {
    text-align: left;
    color: #908f94;
}

.login_table tbody {
    display: inherit;
}

.login_table tr, .login_table td {
    display: inherit;
}

.login_table .labelBox {
    position: relative;
    font-size: 12px;
    height: 35px;
    line-height: 35px
}

.login_table .labelBox label {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #666;
    cursor: pointer
}

.tableMain {
    position: relative;
    width: 100%;
    height: 21px;
    padding: 20px 0;
    display: block;
    border-bottom: 1px solid #d2d3d4;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.tableMain input[type="text"], .tableMain input[type="password"] {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff !important;
    z-index: 999;
    border: none;
    height: 21px;
    line-height: 21px;
    padding: 20px 0 20px 25px;
    width: 90%;
    color: #908f94;
}

.tableMain input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}

.tipsError {
    color: #e65d53;
    text-align: center;
    font-weight: bold;
    font-size: 14px !important;
    height: 30px !important;
    line-height: 30px !important;
}

