
.update, .delete {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0 10px;
    border: none;

}

.icon_edit {

    background: url('/cloud/cloudManage/images/setting.jpg') 0 0 no-repeat;
}

.icon_delete {
    background: url('/cloud/cloudManage/images/delete.jpg') 0 0 no-repeat;
}
.u_manage {
    width: 100%;
    border: 0;
    border-spacing: 0;
    padding: 0;
}

.install,.delete,.restorePassword {
    cursor: pointer;
    margin-left: 8px;
}

.install:hover ,.delete:hover,.restorePassword:hover{
    color: dodgerblue;
}
